[Unit]
Description=Interactive Shell
After=getty@tty1.service
Requires=getty@tty1.service

[Service]
Type=simple
ExecStart=/bin/bash
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
TTYPath=/dev/tty1
Restart=always
RestartSec=0
StartLimitIntervalSec=0
StartLimitBurst=0

[Install]
WantedBy=multi-user.target 